@media (max-width: 768px) {
    .banner-content {
        text-align: center;
    }

    .cate-description h1 {
        margin-top: 15px !important;
        margin-bottom: 15px;
    }

    .cate-list img {
        width: 100%;
    }
    .qty-div .btn {
        width: 29%;
        margin: 15px 5px 15px 5px;
    }
    #home-page .home-slider .carousel-control{
        width: auto !important;
    }
    #home-page .home-slider .carousel-inner .item .container{
        padding: 0;
    }
    .product-info{
        margin-top: 25px;
    }
    #detail-product .btn{
        font-size: 11pt;
    }
}
@media (min-width: 769px) {
    .option-price{
        margin-top: 25px;
    }
    .qty-div .btn{
        width: 16.4%;
        margin: 15px 10px 15px 10px;
    }
    .carousel-control.left{
        left:2%;
    }
    .carousel-control.right{
        right: 2%;
    }
}
@media (min-width: 1800px) {
    #home-page .home-slider .carousel-control{
        width: 50px;
         top: 0%;
         margin-top: 0px;
        bottom: auto;
    }
    #home-page .control-btn{
        overflow: hidden;
        height: 50px;
        width: 100%;
        top: 40%;
        position: absolute;
    }
    .carousel-control.left {
        left: 17% !important;
    }
    .carousel-control.right {
        right: 17% !important;
    }
}
.spnoibat {
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 5px solid #fff;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05);
}

.spnoibat span {
    background: #fff;
    font-weight: 600;
    padding: 10px 20px 10px;
    /* margin-bottom: 25px; */
    width: 20%;
    /* font-family: "UTM_Bebas"; */
    font-size: 20px;
    /*font-family: 'Ubuntu', sans-serif;*/
    text-transform: uppercase;
    /*color: #e04b4b;*/
}

.home-last-widget .product-title {
    font-size: 18pt !important;
}

.home-last-widget .product-title-mini {
    font-weight: 600;
    color: #555;
    line-height: 1;
    padding: 0 0 10px 0;
    font-size: 13pt;
}

.home-last-widget .details .info {
    height: auto !important;
}

.home-last-widget .details .useful p {
    margin-bottom: 35px !important;
}

.convincing-container {
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url('../images/convincing.jpg') no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    /*background-color: rgba(0,0,0, 0.9) !important;*/
}

.cate-description {
    background-color: #f3f3f3;
    padding: 15px;
    overflow: hidden;
}

.banner-content {
    overflow: hidden;
}

.cate-list {
    margin-bottom: 50px;
}

.cate-description h1 {
    margin-top: 5px;
}

.cate-list .product-cont .bg .details .product-title {
    font-size: 15pt;
    font-weight: 600;
    padding: 0 0 10px 0;
    color: #555;
    line-height: 1;
}

.cate-price {
    font-size: 12pt;
    font-weight: 600;
    font-style: italic;
    padding: 0 0 10px 0;
    color: #555;
    line-height: 1;
}

.cate-list .product-cont .bg .details {
    padding: 20px 0 20px 0;
    position: relative;
    height: 250px;
}

.cate-list .products {
    margin-top: 30px;
}

.cate-list .products img {
    width: 100%;
}

.cate-list .btn-primary-dark-grey {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    font-size: 12pt;
    /*text-align: left;*/
    /*position: absolute;*/
    /*bottom: 0;*/
}
#detail-product .btn-primary-dark-grey {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    font-size: 14pt;
}
.banner-right {
    padding-right: 0;
    padding-left: 25px;
}

.banner-right img {
    margin-top: 30px;
    width: 100%;
}

.products-row {
    margin-bottom: 30px;
}

.img-reponsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

/* DETAIL PRODUCT */
.detail-product-img {
    margin-bottom: 25px;
}
.product-info h1{
    margin-top: 0;
    margin-bottom: 25px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.product-form{
    overflow: hidden;
}
.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../images/icon-select.png") no-repeat;
    background-position: 100% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
    float: right;
    top:4px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
    text-indent: 0;
}
.qty-div .btn:nth-child(5n+1){
    margin-left: 0px;
}
.qty-div .btn:nth-child(5n+0){
    margin-right: 0px;
}
.qty-div .btn-success:hover, .qty-div .btn-success.active{
    background: #3c7d17;
}
.product-option-div{
    overflow: hidden;
    margin-top: 15px;
}
#prices-tab .btn-primary-dark-grey{
    margin: 15px 0;
    padding: 15px;
    position: relative;
}
.product-summary{
    border: 1px solid #ddd;
    padding: 15px 30px;
}
.product-summary h3{
    /*font-size: 17pt;*/
    margin: 0;
}
.product-summary input{
    font-style: normal;
}
.product-summary hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.product-summary p{
    font-size: 12pt;
    font-style: italic;
    margin:10px 0;
}
.products-row .each-product{
    margin-bottom: 35px;
}
.my-page .panel{
    padding: 0;
}
.my-page .panel-body{
    padding: 15px;
}
.my-page .list-group i{
    text-align: center;
    width: 20px;
}
.don-hang-tbl th{
    font-weight: bold;
    color: #0d6aad;
}
.don-hang-tbl .btn{
    font-size: 12px;
}
#detail-product ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
/* Float the list items side by side */
#detail-product ul.tab li {float: left;}
{
    color: #353535;
}
/* Style the links inside the list items */
#detail-product ul.tab li a {
    display: inline-block;
    color: #bbb;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of links on hover */
#detail-product ul.tab li a:hover, #detail-product ul.tab li a.active{
    background-color: #f1f1f1;
    color: #353535;
}
/* Create an active/current tablink class */
/*#detail-product ul.tab li a:focus, #detail-product .active {*/
    /*color: #353535;*/
    /*background-color: #f1f1f1;*/
/*}*/
/* Style the tab content */
#detail-product .tabcontent {
    background-color: #f1f1f1;
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.qty-div input[type="radio"]{
    position: absolute;
}